3.	Import the required packages

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

4.	Using the pandas `read_csv()` method, read the GDP dataset into your notebook as a DataFrame called `gdp_df`. Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [5]:
pd.read_csv('../data/gdp_percapita.csv')

     Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2020  1970.560169              NaN
1        Afghanistan  2019  2065.036235              NaN
2        Afghanistan  2018  2033.804389              NaN
3        Afghanistan  2017  2058.400221              NaN
4        Afghanistan  2016  2057.067978              NaN
...              ...   ...          ...              ...
7171        Zimbabwe  1994  2603.927369              NaN
7172        Zimbabwe  1993  2420.092791              NaN
7173        Zimbabwe  1992  2437.152908              NaN
7174        Zimbabwe  1991  2733.696626              NaN
7175        Zimbabwe  1990  2652.129209              NaN

[7176 rows x 4 columns]

In [6]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')

In [26]:
gdp_df.head(2)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2020  1970.560169              NaN
1     Afghanistan  2019  2065.036235              NaN

In [27]:
gdp_df.tail(2)

     Country or Area  Year        Value  Value Footnotes
7174        Zimbabwe  1991  2733.696626              NaN
7175        Zimbabwe  1990  2652.129209              NaN

5. How many rows and columns are in `gdp_df`? What are the data types of each column?

In [9]:
gdp_df.shape

(7176, 4)

This is the data type of the whole structure.

In [13]:
type(gdp_df)

pandas.core.frame.DataFrame

This is the data type of the columns.

In [20]:
gdp_df.dtypes

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

In [21]:
data_types = gdp_df.dtypes

In [22]:
print(data_types)

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

In [23]:
%who

data_types	 gdp_df	 np	 pd	 plt	 sns

6. Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [25]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value', 'Value Footnotes'], dtype='object')

In [30]:
gdp_df = gdp_df.drop(columns = ['Value Footnotes'])

In [31]:
gdp_df.columns = ('Country','Year','GDP_per_capita')

In [32]:
gdp_df.head(2)

       Country  Year  GDP_per_capita
0  Afghanistan  2020     1970.560169
1  Afghanistan  2019     2065.036235

7. How many countries have data for all years? Which countries are missing many years of data? Look at the number of observations per year. What do you notice?

In [48]:
gdp_df['Year'].value_counts()

Year
2018    242
2017    242
2016    242
2015    242
2014    242
2013    242
2019    241
2020    240
2012    240
2011    240
2010    239
2009    239
2008    238
2007    237
2006    237
2004    236
2005    236
2003    235
2002    235
2001    234
2000    233
1999    227
1998    226
1997    226
1996    222
1995    222
1994    211
1993    209
1992    208
1991    207
1990    206
Name: count, dtype: int64

In [38]:
gdp_df['Country'].value_counts()

Country
Least developed countries: UN classification    31
Niger                                           31
Middle East & North Africa (IDA & IBRD)         31
Middle income                                   31
Mongolia                                        31
                                                ..
Kosovo                                          13
Turks and Caicos Islands                        10
Sint Maarten (Dutch part)                       10
Somalia                                          8
Djibouti                                         8
Name: count, Length: 242, dtype: int64

In [40]:
country_count = gdp_df['Country'].value_counts().to_frame()

In [56]:
country_count

                                              count
Country
Least developed countries: UN classification     31
Niger                                            31
Middle East & North Africa (IDA & IBRD)          31
Middle income                                    31
Mongolia                                         31
...                                             ...
Kosovo                                           13
Turks and Caicos Islands                         10
Sint Maarten (Dutch part)                        10
Somalia                                           8
Djibouti                                          8

[242 rows x 1 columns]